body, html {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body {
    display: flex;
    width: 100%;
    justify-content: center;
}

p {
    margin: 0;
    font-size: 52px;
}

input[type=search] {
    margin-right: -4px;
    padding-left: 10px;
    -webkit-appearance: none;
    border: none;
    width: 330px;
    height: 40px;
}

input[type=text] {
    margin-right: -4px;
    padding-left: 10px;
    -webkit-appearance: none;
    border: none;
    background: #eeeeee;
    width: 330px;
    height: 38px;
}

input[type=submit] {
    background: #fd4f32;
    color: white;
    border: none;
    height: 40px;
    width: 120px;
    margin-top: 25px;
    margin-left: -1px;
}

/* Common */

.uppercase {
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
    text-align: left;
}

/* */

.main-container {
    width: 1200px;
}

.header {
    height: 600px;
    flex-basis: 1200px;
    background: url("/img/header.jpg") no-repeat center;
}

.header-menu {
    justify-content: space-between;
    display: flex;
}

.logo {
    display: inline-block;
    margin-left: 100px;
    padding-top: 40px;
}

.bar {
    margin-right: 100px;
    padding-top: 40px;
}

.search {
    text-align: center;
    padding-top: 280px;
    height: 40px;
}

.search-button {
    background: #fd4f32;
    color: white;
    border: none;
    height: 40px;
    width: 120px;
    margin-top: 25px;
    margin-left: -1px;
}

.top-dest {
    background: #eeeeee;
    height: 530px;
}

.top-dest-header {
    margin-left: 100px;
    height: 140px;
    align-content: center;
}

.top-dest-countries {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    height: 320px;
    width: 1000px;
}

.country {
    background: white;
    flex-basis: 240px;
    height: 318px;
    border-bottom: solid 1px silver;
}

.country-image-container {
    position: relative;
    text-align: center;
    color: white;
}

.price {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.country-desc {
    line-height: 1.5;
    font-size: 13px;
    margin-left: 20px;
    color: gray;
}

.before-u-leave-header {
    height: 190px;
}

.top-dest-header-header {
    padding-top: 60px;
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.top-text-header {
    line-height: 2.5;
    font-size: 13px;
    color: gray;
}

.text-before {
    font-size: 52px;
    color: #333333;
    padding-left: 110px;
    padding-top: 85px;
}

.informs {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-left: 100px;
    margin-right: 100px;
}

.inform {
    flex-basis: 260px;
}

.get-hottest-deals {
    height: 234px;
    text-align: center;
}

.get-inform {
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    padding-top: 80px;
}

.footer {
    display: flex;
    height: 73px;
    background: #eeeeee;
    color: #333333;
    left: 0;
    bottom: 0;
    padding-left: 100px;
    padding-right: 100px;
}

.copyright {
    margin-top: 30px;
    color: #8b8b8b;
}

.menu {
    word-spacing: 10px;
    margin-top: 30px;
    padding-left: 55px;
}

.menu-item {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #333333;
}

/* Images: */

#country-img-1{
    width: 240px;
    height: 200px;
    background: url("/img/Rectangle1.jpg");
}

#country-img-2{
    width: 240px;
    height: 200px;
    background: url("/img/Rectangle2.jpg");
}

#country-img-3{
    width: 240px;
    height: 200px;
    background: url("/img/Rectangle3.jpg");
}

#country-img-4{
    width: 240px;
    height: 200px;
    background: url("/img/Rectangle4.jpg");
}

@media only screen and (max-width: 1000px) {
    body {
        display: block;
    }
}

@media only screen and (max-width: 600px) {

    html, body {
        overflow-x: hidden;
    }

    body {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    p {
        margin: 0;
        font-size: 30px;
    }

    input[type=search] {
        margin-right: -4px;
        padding-left: 10px;
        -webkit-appearance: none;
        border: none;
        width: 200px;
        height: 40px;
    }

    input[type=text] {
        margin-right: -4px;
        padding-left: 10px;
        -webkit-appearance: none;
        border: none;
        background: #eeeeee;
        width: 270px;
        height: 38px;
    }

    input[type=submit] {
        background: #fd4f32;
        color: white;
        border: none;
        height: 40px;
        width: 100px;
        margin-top: 25px;
        margin-left: -1px;
    }

    /* Common*/
    .uppercase {
        color: #333333;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 35px;
        text-align: left;
    }
    /**/

    .main-container {
        width: 100%;
    }

    .header {
        height: 300px;
        background: url("/img/header.jpg") no-repeat center;
    }

    .logo {
        margin-left: 40px;
    }

    .bar {
        margin-right: 50px;
    }

    .search {
        text-align: center;
        padding-top: 100px;
        height: 40px;
    }

    .search-button {
        background: #fd4f32;
        color: white;
        border: none;
        height: 40px;
        width: 120px;
    }

    .top-dest {
        background: #eeeeee;
        height: 1605px;
        align-content: center;
    }

    .top-dest-header {
        margin-left: 40px;
        height: 140px;
    }

    .top-dest-countries {
        margin-left: 0px;
        height: auto;
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .country {
        width: 318px;
        flex-basis: 340px;
        background: white;
        border-bottom: solid 1px silver;
        margin: auto auto 20px;
    }

    .country-image-container {
        color: white;
        margin: 20px auto;

    }

    .price {
        bottom: 10px;
        right: 10px;
    }

    .country-desc {
        line-height: 1.5;
        font-size: 13px;
        margin-left: 35px;
        color: gray;
    }

    .before-u-leave-header {
        height: 130px;
    }

    .before-u-leave {
        height: 844px;
        align-content: center;
    }


    .text-before {
        font-size: 32px;
        color: #333333;
        text-align: center;
        padding-left: 0px;
        padding-top: 60px;
    }

    .informs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .inform {
        margin: auto;
        width: 300px;
        flex-basis: 170px;
    }

    .get-inform {
        color: #333333;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        padding-top: 40px;
    }

    .get-hottest-deals {
        height: 174px;
        text-align: center;
    }

    .footer {
        display: flex;
        height: 153px;
        background: #eeeeee;
        color: #333333;
        left: 0;
        bottom: 0;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0;
    }

    .menu-container {
        flex-basis: 300px;
    }

    .copyright {
        margin-left: 20px;
        margin-top: 30px;
        color: #8b8b8b;
    }

    .menu {
        flex-direction: column;
        display: flex;
    }

    .menu-item {
        text-transform: uppercase;
        font-weight: bold;
        color: #333333;
    }
}

